/* الأساسيات */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Cairo', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  direction: rtl;
  scroll-behavior: smooth;
  overflow-x: hidden;

}

/* النافبار */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: background 0.3s ease, backdrop-filter 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
}


.navbar.scrolled {
  background: rgba(255, 255, 255, 0.2); /* لون أبيض شفاف خفييف */
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.logo {
  height: auto;
  display: flex;
  align-items: center;
}

.logo img {
  height: 100px;
  max-height: 100px;
  width: auto;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}


nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 23px;
}

.divider {
  width: 1px;
  height: 20px;
  background: #ccc;
  margin: 0 10px;
}


.intro {
  background: url('logo/Artboard\ 1.png') no-repeat center center/cover;
  height: 170vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 999;

}

.intro-overlay h1, .intro-overlay h2 {
  color: rgb(245, 184, 0);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  font-size: 44px;
  margin-top:  -35px;
}

.intro .intro-overlay h1{
  font-size: 120px;
  margin-top: -450px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgba(41,102,66,0.6);
}

/* الأقسام */
.section {
  padding: 120px 20px;
  min-height: 10vh;
}

/* الكروت */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 150px;
  text-align: center;
  font-weight: bold;
}

/* الفوتر */
.footer {
  background: #044f12;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

.grape-wrapper {
  position: relative;
  width: 400px; /* أو أي حجم يناسبك */
  margin: auto;
}

.grape-main {
  width: 100%;
  height: auto;
  display: block;
}

.grape-extension {
  position: absolute;
  top: 100%; /* تبدأ بعد نهاية الصورة الأولى */
  left: 0;
  width: 100%;
  height: auto;
}

.green-text {
  color: #044f12; /* أو تحط الكود اللي تبي مثلا أخضر غامق */
}

.section h2 {
  color: #044f12;
  
}

.about1 {
  position: relative;
  margin-top: -750px;
  padding: 0 100px; /* مسافة من اليمين */
  z-index: 1000; /* فوق الصورة */
  text-align: right; /* يخلي الكلام كله يمين */
   padding-top: 200px; /* لو تبي تنزله شوي */
  
}


.about1 h2 {
  color: #044f12;
  font-size: 115px; /* صغرته شوي عشان ما يكسر */
  margin-bottom: 20px;
}

.about1 p {
  color: #697b95;
  font-size: 40px;
  max-width: 1300px;
padding-top: 30px;
  line-height: 1.8;
}




.about2 {
  background-color: #044f12;
  padding: 50px 10px;
  text-align: center;
  margin-top: 50px;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.about2 h2,
.about2 p {
  color: white;
}

.about2 h2 {
  font-size: 70px;
}

.about2 p {
  font-size: 35px;
}

#message {
  position: relative; /* ضروري عشان الـ absolute داخل القسم يتمركز بناءً عليه */

}


/* الصور التزيينية */
.broccoli-transition {
  position: absolute;
  bottom: -214px; /* نزّلها لحد ما تدخل فوق بداية السكشن اللي بعده */
  left: 0;
  width: 350px;
  height: auto;
  margin-left: -20px;
  z-index: 2;
}

.cucumber-transition {
  position: absolute;
  bottom: -490px; /* ترفع الصورة فوق */
  right: 0;
  width: 210px; /* حسب حجم الصورة */
  height: auto;
  z-index: 2;
}

.decor-nakheel {
  position: absolute;
  width: 400px;
  opacity: 0;
  transform: translateY(100px) rotate(20deg);
  transition: all 1.5s ease;
  z-index: 0;
  pointer-events: none;
}

.left-decor {
  left: -10px;
  bottom: 60px;
}

.right-decor {
  right: -10px;
  bottom: 60px;
}

/* إذا دخل القسم: تشتغل الحركة */
.values1.show .decor-nakheel {
  opacity: 1;
  transform: translateY(0) rotate(0deg);
}

.values1 {
  text-align: center;
  padding: 100px 50px;
  background-color: #ffffff; /* أبيض */
}

.values1 h2 {
  font-size: 80px;
  color: #044f12;
  margin-bottom: 50px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  background-color: #044f12;
  padding: 40px 20px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 20px;
}

.card p {
  font-size: 20px;
  color: #ffffff;
}

.truck {
  position: relative;
  padding: 100px 50px;
  background: url('logo/PC-green-road.png') no-repeat center bottom;
  background-size: cover;
  text-align: right;
  overflow: hidden;
  z-index: 1;
}

.vision-text {
  max-width: 600px;
  margin-right: auto;
  margin-left: 0;
}

.vision-text h2 {
  font-size: 115px;
  color: #044f12;
  margin-bottom: 20px;
  margin-right: -1150px;
}

.vision-text p {
  font-size: 24px;
  color: #333;
  margin-bottom: 60px;
  margin-right: -1150px;
  width: 879px;
}

.vision-truck-area {
  position: relative;
  margin-top: 50px;
}

.truck-img {
  width: 950px; /* كانت 250px خليتها 400px */
  position: absolute;
  left: 0;
  bottom: -70px;
  z-index: 10;
  
}



.fruits-line img {
  width: 110px;
  margin-left: 20px;
}

.fruits-line {
  display: flex;
  position: relative;
  animation: moveFruits 30s linear infinite;
}

@keyframes moveFruits {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.contact-section {
  text-align: center;
  padding: 100px 50px;
  background-color: #f4f4f4;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.contact-item {
  background: white;
  padding: 30px 20px;
  border-radius: 15px;
  width: 250px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.contact-item h3 {
  color: #044f12;
  margin-bottom: 15px;
}

.contact-item p a {
  color: #333;
  text-decoration: none;
}

.contact-item p a:hover {
  text-decoration: underline;
}

.footer {
  text-align: center;
  padding: 30px 20px;
  background-color: #044f12;
  color: white;
}

.services-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-bottom: -100vh;
}

.services-section .services-bg-img {
  position: absolute;
  top: -20px;
  left: 0;
  right: -16px;
  width: 95%;
  height: auto;
  object-fit: cover;     /* تخليها تغطي كل المساحة */
  z-index: 0;
  opacity: 100;          /* خفف حسب الرغبة */
  pointer-events: none;  /* تمنع التفاعل معها */
}

.services-section > *:not(.services-bg-img) {
  position: relative;
  z-index: 1;
}

.services-section h2 {
  font-size: 80px;
  color: #044f12;
  margin-bottom: 40px;
}

.services-list {
  list-style: none;
  padding: 0;
}

.services-list li {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  position: relative;
  padding-right: 30px;
}

.services-list li::before {
  content: "•";
  position: absolute;
  right: 0;
  color: #044f12;
  font-size: 30px;
  top: -2px;
}

section {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}

.show-section {
  opacity: 1;
  transform: translateY(0);
}

.truck-img {
  width: 800px;
  position: absolute;
  left: 0;
  bottom: -70px;
  z-index: 10;
  animation: floatTruck 5s ease-in-out infinite;
}

@keyframes floatTruck {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
}

#typewriter::after {
  content: '|'; /* المؤشر */
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

#top-text, #bottom-text {
  transition: transform 0.2s ease-out;
}

.scroll-move-right {
  transition: transform 0.2s ease-out;
  transform-origin: center center;
}

.blinking-question {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 23px;
  position: relative;
  padding-bottom: 5px; /* مساحة صغيرة تحت النص */
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* سمك الخط */
  bottom: 0;
  right: 0;
  background-color: #044f12; /* نفس لون هويتك */
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.social-icons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #044f12;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  transition: background 0.3s, transform 0.3s;
  text-decoration: none;
}

.icon:hover {
  background-color: #066621; /* أخضر أفتح لما تمرر الماوس */
  transform: scale(1.1); /* تكبر الأيقونة شوي */
}

#intro-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('logo/image\ \(7\).png') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15000;
  transition: opacity 0.5s ease;
}

.loader-logo {
  width: 340px; /* حجم الشعار أثناء اللودينق */
  animation: pulse 2s infinite;
}

.about1 p {
  max-width: 80%;
}
.inline-vegetable {
  width: 300px;
  margin-top: -165px;
  margin-right: 900px;
  
  margin-bottom: -100px;
}

/* حركة خفيفة للشعار */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.loader-text {
  margin-top: 10px;
  font-size: 18px;
  color: #044f12;
  font-weight: bold;
  animation: pulse 2s infinite; /* نفس حركة الشعار بالضبط */
  max-width: 50%;
}

/* تجاوب للخط مع الشاشات الصغيرة */
@media (max-width: 768px) {

  .card.animate-right,
  .card.animate-left {
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
    position: relative;
    z-index: 2;
  }

  .card.animate-right {
    transform: translateX(40px); /* تحرك بسيط من اليمين */
  }

  .card.animate-left {
    transform: translateX(-40px); /* تحرك بسيط من اليسار */
  }

  .card.show {
    transform: translateX(0);
    opacity: 1;
  }

  .decor-nakheel {
    width: 400px;
  }

  .left-decor {
    left: -30px;
    bottom: 100px;
  }

  .right-decor {
    right: -30px;
    bottom: 450px;
  }

  .services-section {
    padding: 100px 30px 300px 30px; /* مسافة كبيرة تحت */
    min-height: 850px; /* أطول */
    background-color: #fff;
  }

  .services-section .services-bg-img {
    width: 100%;
    bottom: 0;
    opacity: 100;
    margin-right: 16px;
  }


  .truck {
    background-image: url('logo/green-road.png');
  }

  .about-sub-p {
    font-size: 13px;
    max-width: 50%; /* قلل النسبة كل ما بغيت الجملة تضيق */
    margin-left: auto;
    margin-right: 0;
    text-align: right;
  }
    
  .inline-vegetable {
    width: 150px;
    
    margin-right: 325px;
    margin-top: -50px;
    margin-bottom: -70px;
  }

  .broccoli-transition {
    position: absolute;
    bottom: -145px; /* نزّلها لحد ما تدخل فوق بداية السكشن اللي بعده */
    left: 0;
    width: 167px;
    height: auto;
    margin-left: -20px;
    z-index: 2;
  }
  
  .cucumber-transition {
    position: absolute;
    bottom: -405px; /* ترفع الصورة فوق */
    right: 0;
    width: 167px; /* حسب حجم الصورة */
    height: auto;
    z-index: 2;
  }
 
  .nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 15px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 80px;
    width: auto;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  nav a {
    font-size: 14px;
    margin: 0 5px;
  }

  .intro {
    background: url('logo/phonewall.png') no-repeat center center;
    background-size: 100%; /* تزوم شوي مع المحافظة على التناسق */
    height: 100vh; /* خله بنفس ارتفاع الشاشة */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-position: center 0%; /* هنا السر */
  }

  .intro .intro-overlay h1 {
    font-size: 35px;
    margin-top: 0;
  }

  .intro .intro-overlay h2 {
    font-size: 10px;
    margin-top: 10px;
  }
  
}


.card.animate-right:nth-of-type(1) { transition-delay: 0s; }
.card.animate-left:nth-of-type(2) { transition-delay: 0.2s; }
.card.animate-right:nth-of-type(3) { transition-delay: 0.4s; }

@media (max-width: 480px) {
  .loader-logo {
    width: 120px;
  }
  .loader-text {
    font-size: 16px;
    padding: 0 15px;
  }
}

/* تصحيح كامل للشاشات الصغيرة (Responsive) */

@media (max-width: 992px) {

  
 

  .about1 {
    padding: 50px 20px;
    margin-top: -450px;
  }

  .about1 h2 {
    font-size: 60px;
  }

  .about1 p {
    font-size: 20px;
  }

  .about2 {
    padding: 30px 10px;
    height: auto;
  }

  .about2 h2 {
    font-size: 50px;
  }

  .about2 p {
    font-size: 20px;
  }

  
  .values1 h2 {
    font-size: 50px;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .vision-text {
    margin: 0 auto;
    text-align: center;
  }

  .vision-text h2,
  .vision-text p {
    margin-right: 0;
    text-align: center;
    width: 100%;
    font-size: 20px;
  }

  .truck-img {
    width: 100%;
    position: static;
    margin-top: 30px;
  }

  .services-section h2 {
    font-size: 50px;
  }

  .services-list li {
    font-size: 20px;
  }

  .contact-section {
    padding: 50px 20px;
  }

  
}

@media (max-width: 600px) {
  .intro .intro-overlay h1 {
    font-size: 35px;
    margin-top: -300px;
  }

  .intro .intro-overlay h2 {
    font-size: 20px;
    padding-top: 1px;
  }

  .intro {
    height: 100vh;
  }

  .navbar {
    padding: 10px 1px;
    padding-left: 20px;
    
  }
  

}

.about2 {
  position: relative;
  overflow: hidden; /* عشان الخلفية ما تطلع خارج */
  z-index: 1;
}

.about2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('logo/111111.png') no-repeat center center;
  background-size: cover;
  opacity: 0.2; /* درجة الشفافية، زودها أو نقصها حسب اللي تبي */
  z-index: 0;
}

.about2 h2,
.about2 p {
  position: relative;
  z-index: 1;
}

.values1 {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.values1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('') no-repeat center center;
  background-size: cover;
  opacity: 0.15; /* شفافية أقل شوي عشان ما تشتت الكروت */
  z-index: 0;
}

.values1 h2,
.values1 .card {
  position: relative;
  z-index: 1;
}

.services-section {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.services-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('') no-repeat center center;
  background-size: cover;
  opacity: 0.15; /* نفس الشفافية المستخدمة في القيم */
  z-index: 0;
}

.services-section h2,
.services-section .services-list {
  position: relative;
  z-index: 1;
}


.truck {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.truck::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('') no-repeat center center;
  background-size: cover;
  opacity: 0.15; /* خفيفة بحيث ما تغطي على الشاحنة أو النص */
  z-index: 0;
}

.truck .vision-text,
.truck .vision-truck-area {
  position: relative;
  z-index: 1;
}

.values1 {
  background: url('logo/Vegatable\ Back.png') no-repeat center center;
  background-size: cover;
  padding: 100px 20px; /* عشان ما تنحشر المحتويات */
  position: relative;
  z-index: 1;
}

